.wrapper {
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../images/landing_page_image5.jpg');
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.landing-content {
  display: flex;
  flex-direction: column;
  margin-top: 98px;
}

header {
  margin: 0 auto;
}

.landing-content h1 {
  font-size: 48px;
  color: lightgrey;
  font-family: 'Thasadith', sans-serif;
  margin: 0 auto;
}

.landing-content h2 {
  margin: 0 auto;
  color: goldenrod;
}

.landing-content h3 {
  margin: auto;
  color: lightgoldenrodyellow;
}

#craft {
  color: goldenrod;
}

#landing-message {
  margin: auto;
  font-style: italic;
  color: goldenrod;
  font-size: 20px;
  font-weight: bolder;
  text-align: center;
}

#recipe-list-header {
  text-align: center;
  font-size: 32px;
  margin: 20px 30px;
}

button:hover {
  opacity: .7;
  cursor: pointer;
}