.recipe-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.recipe-list li {
  max-width: 400px;
  min-width: 360px;
  flex-direction: column;
  display: flex;
  padding: 20px 40px;
  margin: 10px auto;
  border: solid 1px #EDEDED;
  background-color: white;
  border-radius: 3px;
  box-shadow: 1px 1px 1px #EDEDED;
}

#recipe-list-header {
  margin: auto 200px;
  margin-top: 100px;
  margin-bottom: 20px;
  font-size: 40px;
}

.recipe-list li h2 {
  font-size: 24px;
  margin: auto;
}

.recipe-instructions {
  color: darkgoldenrod
}

.ingredients-list {
  padding: 0px;
}

.ingredients-list li {
  padding: 0px 0px;
  margin: 0px;
  color: darkgrey;
  border: 0px
}

img {
  align-self: center;
  border-radius: 50%;
  max-height: 160px;
  padding-top: 20px;
}

.recipe-list button {
  padding: 8px;
  border-radius: 4px;
  width: 168px;
  background-color: lightgoldenrodyellow;    
  font-size: 14px;
  margin-top: 20px;
}