.recipe-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 0px;
}

.recipe-list li {
  width: 332px;
  height: auto;
  flex-direction: column;
  display: flex;
  margin: 10px auto;
  border: solid 1px #EDEDED;
  background-color: white;
  border-radius: 3px;
  box-shadow: 1px 1px 1px #EDEDED;
  align-items: center;
}

#recipe-list-header {
  margin: auto 600px;
  margin-top: 60px;
  margin-bottom: 20px;
  font-size: 40px;
}

.recipe-list li h2 {
  font-size: 18px;
  margin: auto;
  text-align: center;
  font-weight: bolder;
}

.recipe-instructions {
  color: rgba(50, 50, 50, 50);
  min-width: 250px;
  max-width: 290px;
  padding: 0px 40px;
}

.ingredients-list {
  padding: 0px;
  margin-top: 8px;
}

.ingredients-list li {
  padding: 0px 0px;
  margin: 0px;
  color: rgba(50, 50, 50, 50);
  border: 0px;
  box-shadow: none;
}

.ingredients-list p {
  padding: 0px 0px;
  margin: 0px;
  color: rgba(50, 50, 50, 50);
}

img {
  align-self: center;
  max-height: 230px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.recipe-list button {
  padding: 2px;
  border-radius: 4px;
  width: 153px;
  background-color: lightgoldenrodyellow;
  font-size: 14px;
  margin: 20px;
}

.button-div {
  margin: auto auto;
}