.dashboard-search-form {
  padding: 14px 40px;
  margin: 0 auto;
  align-items: center;
  background-color: lightgrey; 
}

.dashboard-search-form label {
  font-size: 24px;
  color: lightgoldenrodyellow;
}

.dashboard-search-form input {
  margin-bottom: 4px;
  margin-top: 10px;
  width: 400px;
  border: none;
  padding: 10px;
  border-radius: 4px;
}

.dashboard-search-form button {
  padding: 8px;
  border-radius: 4px;
  width: 168px;
  background-color: lightgoldenrodyellow;
  font-size: 14px;
}

.landing-search-form {
  padding: 14px 40px;
  margin: 0 auto;
  align-items: center;
}

.landing-search-form label {
  font-size: 24px;
  color: lightgoldenrodyellow;
}

.landing-search-form input {
  margin-bottom: 4px;
  margin-top: 10px;
  width: 400px;
  border: none;
  padding: 10px;
  border-radius: 4px;
}

.landing-search-form button {
  padding: 8px;
  border-radius: 4px;
  width: 168px;
  background-color: lightgoldenrodyellow;
  font-size: 14px;
}