.welcome-bar ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.welcome-bar {
  /* background-image: url('../images/cooking_class_banner.jpg'); */
  max-height: 244px;
  margin: 0px;
  display: flex;
  flex-direction: column;
}

.welcome-bar li {
  height: auto;
  width: auto;
}


.user-controls {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 18px 40px;
  margin: 0 auto;
}

.user-controls p {
  color: lightgoldenrodyellow;
  margin: 0 auto;
}

.user-controls li {
  padding: 0px 12px;
  color: lightgoldenrodyellow;
  margin: 20px 0;
}

.user-controls a {
  text-decoration: none;
  color: goldenrod
}

.dashboard-banner {
  background-color: darkgrey;
  height: 120px;
  background-image: url('../images/cooking_class_banner.jpg')
}

.craft {
  color: black;
}


